/* change logs */

.change-logs,
.change-logs h2 {
  text-align: left;
}
  .change-logs span.change-logs-version {
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
    display: inline-block;
  }

  .change-logs span.change-logs-tag {
    font-size: 13px;
    border-radius: 4px;
    padding: 2px 6px;
    vertical-align: 5px;
  }

  .change-logs span.change-logs-bugfix-tag {
    background-color: #eee;
  }

  .change-logs span.change-logs-improvement-tag {
      background-color: #62a609;
      color: #fff;
  }

  .change-logs ul {
    margin: 15px 0 40px 40px;
  }
    .change-logs ul li {
      text-align: left;
      line-height: 180%;
    }

