html, body, header, footer, h1, h2, ul, li, p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #525252;
  text-align: center;
}

body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

h1,h2,header a.store,p.description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

p {
  line-height: 160%;
}

p.description {
  font-size: 20px;
}

a {
  text-decoration: none;
}

a, a:visited {
  color: #4183c4;
}

a:hover {
  text-decoration: underline;
}

code {
  padding: 1px 5px;
  font-size: 13px;
  font-weight: normal;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
}

.left {
  text-align: left;
}

/* clearfix */

.clearfix:before, .clearfix:after {
  display: table;
}
.clearfix:after {
  clear: both;
}

/* table */

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-style: solid;
  border-width: 1px 0 0 1px;
  border-color: #ddd;
  background: #fff;
}
  table tr:nth-child(even) {
    background-color: #f8f8f8;
  }
  table th,table td {
    padding: 10px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: #ddd;
  }
  table th {
    font-size: bold;
    background: #fff;
  }
  table td {
    text-align: left;
  }

/* container */

.container {
  width: 1020px;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
  padding-bottom: 80px;
}

.container-bn {
  width: 1020px;
  margin: 0 auto;
  padding-bottom: 80px;
}
  .container h1,.container-bn h1 {
    padding: 60px 0 15px 0;
    font-size: 32px;
  }

/* footer */

footer {
  border-top: 1px solid #ddd;
  padding: 50px 0;
  font-size: 13px;
}












/* header menu */

.header-menu {
  text-align: center;
  background-color: #f9fafb;
  border-bottom: 1px solid #ddd;
}

.header-menu-inner {
  width: 500px;
  margin: 0 auto;
}

.header-menu-list {
  height: 70px;
  line-height: 70px;
  list-style: none;
}

.header-menu-list li {
  list-style: none;
  float: left;
  width: 250px;
}

.header-menu-list a {
  color: #444;
  display: block;
  transition: background-color .2s linear 0, color .2s linear 0;
}

.header-menu-list a:hover {
  text-decoration: none;
  color: #666;
  background-color: #ececec;
}

.header-menu-active {
  font-weight: bold;
  background-color: #ececec;
}