/*　title　*/

.title {
  background: #62a609;
}
  .title-inner {
    margin: 0 auto;
    padding: 90px 410px 0 0;
    height: 360px;
    width: 610px;
    text-align: left;
    background: url(../images/logo.svg) 680px 105px no-repeat;
    background-size: 285px 280px;
  }
    .title-inner h2 {
      font-size: 42px;
      color: #f7e8ad;
      font-weight: 400;
      text-align: left;
    }
    .title-inner p.description {
      font-size: 20px;
      margin: 20px 0 40px 0;
      line-height: 150%;
      color: #fff;
      text-align: left;
    }
    .title-inner a.store {
      color: #fff;
      border: solid 1px #fff;
      border-radius: 4px;
      padding: 13px 40px 15px 37px;
      font-size: 24px;
      transition-duration: 0.5s;
      text-decoration: none;
    }
    .title-inner a.store:hover {
      color: #a6cd81;
      border: solid 1px #a6cd81;
    }

  #pickup {
    width: 1020px;
    margin: 0 auto;
    border-top: 1px solid #83b93d;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #fff;
    padding: 30px 0;
  }

/* introduction */

table.introduction {
  margin: 25px 0 80px 0;
}
  table.introduction th {
    width: 255px;
  }

/* mode */

.mode {
  height: 770px;

}
  .mode ul {
    list-style: none;
    margin-top: 50px;
  }
  .mode li {
    width: 310px;
    height: 300px;
    float: left;
    margin-right: 45px;
    margin-bottom: 20px;
    padding-top: 88px;
    box-sizing: border-box;
  }
  .mode li:nth-child(3n) {
    margin-right: 0;
  }
  .mode li.normal {
    background: url(../images/normal_mode.svg) top center no-repeat;
    background-size: 78px 68px;
  }
  .mode li.insert {
    background: url(../images/insert_mode.svg) top center no-repeat;
    background-size: 112px 68px;
  }
  .mode li.hint {
    background: url(../images/hint_mode.svg) top center no-repeat;
    background-size: 113px 68px;
  }
  .mode li.visual {
    background: url(../images/visual_mode.svg) top center no-repeat;
    background-size: 92px 68px;
  }
  .mode li.command {
    background: url(../images/command_mode.svg) top center no-repeat;
    background-size: 66px 68px;
  }
  .mode li.help {
    background: url(../images/help_mode.svg) top center no-repeat;
    background-size: 68px 68px;
  }
  .mode h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

/* key bindings */

.key-bindings {
  height: 920px;
  position: relative;
}
  .key-bindings table {
    position: absolute;
    top:210px;
    width: 490px;
  }
  .key-bindings table.left {
    left: 0;
  }
  .key-bindings table.right{
    right: 0;
  }
    .key-bindings table th:nth-child(1) {
      width: 95px;
    }
