.hometype-hit-a-hint-base {
  position:absolute;
  border:solid 1px #C4C4C4;
  opacity:0.8;
  padding:3px;
  border-radius:3px;
  font-size:12px;
  color:#222222;
  z-index:1000001;
  font-family:'Osaka-Mono';
}
.hometype-hit-a-hint-border {
  border:dashed 1px #900;
  position:absolute;
  z-index:1000000;
}
.hometype-hit-a-hint-yellow {
  background-color:#FFFF4D;
}
.hometype-hit-a-hint-yellow-area {
  background-color:#FDFFC3;
}
.hometype-hit-a-hint-blue {
  background-color:#4DFFFF;
}
.hometype-hit-a-hint-blue-area {
  background-color:#CDFFF3;
}
.hometype-hit-a-hint-green {
  background-color:#B2FFC7;
}
.hometype-hit-a-hint-green-area {
  background-color:#E2FFE3;
}
.hometype-hit-a-hint-red {
  background-color:#FFB2C7;
}
.hometype-hit-a-hint-head-area, .hometype-hit-a-hint-red-area {
  background-color:#FFE2E3;
}
.hometype-hit-a-hint-pushed {
  color:red;
}

.hometype-matched-text, .hometype-char-text {
  background-color:#fc3;
  border:solid 1px #f66;
  color:#f22;
}
.hometype-char-text {
  padding: 0 4px;
}

.hometype-help-box {
  position:absolute;
  z-index:1000000;
  display:none;
  opacity:0.6;
  background-color: black;
  color: white;
}
.hometype-help-box-wrap {
  display: -webkit-box;
}
.hometype-help-box-commands-key {
  text-align: right;
  color: #dd0;
}
.hometype-command-box {
  position:absolute;
  z-index:1000000;
  display:none;
  height:34px;
  padding:0;
  margin:0;
  width:100%;
  height:22px;
  border-style:solid;
  border-width:1px 0 0 0;
  border-color:#aaa;
  box-sizing:content-box !important;
  background-color:#fff !important;
}
.hometype-command-box-header {
  float:left !important;
  height:22px !important;
  line-height:22px !important;
  font-size:14px !important;
  padding:1px 5px 0px 5px !important;
  color:#f7e8ad !important;
  background-color:#62a609 !important;
  font-family:'Osaka-Mono' !important;
  box-sizing:border-box !important;
}
.hometype-command-box-content {
  background-color:transparent !important;
  overflow:hidden !important;
  height:100% !important;
  box-sizing:content-box !important;
}
.hometype-command-box-triangle {
  float:left !important;
  width:0 !important;
  height:0 !important;
  border-top: 11px solid transparent !important;
  border-bottom: 11px solid transparent !important;
  border-left: 11px solid #62a609 !important;
  border-right: 2px solid transparent !important;
}
.hometype-command-box input {
  width:100% !important;
  height:100% !important;
  border-width:0 !important;
  border:0 solid #fff !important;
  margin:0 !important;
  padding:3px !important;
  height:22px !important;
  font-size:14px !important;
  background-color:transparent !important;
  font-family:'Osaka-Mono' !important;
  outline:none !important;
  box-sizing:border-box !important;
  min-height:22px !important;
  border-radius:0 !important;
  display:block !important;
  color:#333 !important;
  box-shadow:0 !important;
}
.hometype-command-box-candidate-area {
  border-style:solid;
  border-width:1px 0 0 0;
  border-color:#aaa;
  background-color:#fff;
  position:absolute;
  z-index:1000000;
  display:none;
  padding:0;
  box-sizing:border-box;
  font-size:12px !important;
}
.hometype-command-box-candidate-area div {
  border-style:dotted;
  border-width:0 0 1px 0;
  border-color:#aaa;
  background-color:transparent;
  color:#333;
  text-align:left;
  font-size:13px;
  font-family:'Osaka-Mono';
  padding:2px;
  height:22px;
  width:100%;
  word-break:break-all;
  word-wrap:break-word;
  overflow:hidden;
  box-sizing:border-box;
  line-height: 22px;
}
.hometype-command-box-candidate-area div.selected {
  background-color:#eee;
  color:#444;
}
.hometype-command-box-icon {
  float:left !important;
  margin:1px 4px 0 0 !important;
  display:block !important;
}

.hometype-select-box {
  width:400px;
  height:600px;
  z-index:10000;
  background-color:#fff;
  overflow:auto;
  border-radius:4px;
  border:solid 1px #ccc;
  padding:10px;
}
.hometype-select-box ul, .hometype-select-box li {
  list-style:none;
}
.hometype-select-box li {
  float:left;
  line-height:200%;
  font-size:14px;
  margin:5px;
  padding:0 10px;
  border:solid 1px #999;
  border-radius:4px;
  cursor:pointer;
  background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
}

.hometype-contenteditable {
  border:solid 1px #f00;
  position:absolute;
  z-index:1000000;
  background-color:transparent;
  cursor:text;
}

.hometype-current-mode {
  position:fixed;
  z-index:1000002;
  top:6px;
  right:6px;
  font-family:'Osaka-Mono';
  background: linear-gradient(to bottom, #fefcea 0%,#f1da36 100%);
  box-shadow:0 0 2px 2px rgba(200,200,200,0.2) inset;
  padding:2px 6px;
  border-radius:4px;
  border:solid 1px #cecece;
  font-size:14px;
  color:#222;
}

.hometype-tab-list-box {
  position: absolute;
  width: 900px;
  background-color: #fff !important;;
  text-align: left;
  opacity: 0.9;
  padding: 4px 10px;
  border-radius: 4px;
  z-index: 1000000 !important;
  border: solid 1px #888 !important;
  font-size: 14px !important;
}
.hometype-tab-element {
  float: left;
  width: 190px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  margin-right: 10px;
  font-family:'Osaka-Mono' !important;
  box-sizing: border-box !important;
}
.hometype-tab-element-hint-key {
  color: #f00;
}
.hometype-tab-element img {
  position: absolute;
  top: 7px;
  left: 0;
}
