.chromekey-hit-a-hint-base {
  position:absolute;
  border:solid 1px #C4C4C4;
  opacity:0.8;
  padding:3px;
  border-radius:3px;
  font-size:12px;
  color:#222222;
  z-index:1000000;
  font-family:'Osaka-Mono';
  display:none;
}
.chromekey-hit-a-hint-yellow {
  background-color:#FFFF4D;
}
.chromekey-hit-a-hint-yellow-area {
  background-color:#FDFFC3;
}
.chromekey-hit-a-hint-blue {
  background-color:#4DFFFF;
}
.chromekey-hit-a-hint-blue-area {
  background-color:#CDFFF3;
}
.chromekey-hit-a-hint-green {
  background-color:#B2FFC7;
}
.chromekey-hit-a-hint-green-area {
  background-color:#E2FFE3;
}
.chromekey-hit-a-hint-pushed {
  color:red;
}

.chromekey-command-box {
  background-color:#aaaaaa;
  position:absolute;
  z-index:1000000;
  display:none;
  opacity:0.8;
  padding:5px;
}
.chromekey-command-box input {
  width:100%;
  height:100%;
  border-width:0;
  outline:none;
  font-size:16px;
  background-color:#aaaaaa;
  font-family:'Osaka-Mono';
}
.chromekey-command-box-candidate-area {
  background-color:#666666;
  position:absolute;
  z-index:1000000;
  display:none;
  color:#ffffff;
  opacity:0.8;
}
.chromekey-command-box-candidate-area div {
  text-align:left;
  font-size:16px;
  margin:5px;
  font-family:'Osaka-Mono';
}
.chromekey-command-box-candidate-area div.selected {
  background-color:#ffffff;
  color:#444444;
}
