.hometype-hit-a-hint-base {
  position:absolute;
  border:solid 1px #C4C4C4;
  opacity:0.8;
  padding:3px;
  border-radius:3px;
  font-size:12px;
  color:#222222;
  z-index:1000001;
  font-family:'Osaka-Mono';
}
.hometype-hit-a-hint-border {
  border:dashed 1px #900;
  position:absolute;
  z-index:1000000;
}
.hometype-hit-a-hint-yellow {
  background-color:#FFFF4D;
}
.hometype-hit-a-hint-yellow-area {
  background-color:#FDFFC3;
}
.hometype-hit-a-hint-blue {
  background-color:#4DFFFF;
}
.hometype-hit-a-hint-blue-area {
  background-color:#CDFFF3;
}
.hometype-hit-a-hint-green {
  background-color:#B2FFC7;
}
.hometype-hit-a-hint-green-area {
  background-color:#E2FFE3;
}
.hometype-hit-a-hint-red {
  background-color:#FFB2C7;
}
.hometype-hit-a-hint-red-area {
  background-color:#FFE2E3;
}
.hometype-hit-a-hint-pushed {
  color:red;
}

.hometype-command-box {
  background-color:#aaaaaa;
  position:absolute;
  z-index:1000000;
  display:none;
  opacity:0.8;
  height:30px;
}
.hometype-help-box {
  position:absolute;
  z-index:1000000;
  display:none;
  opacity:0.6;
  background-color: black;
  color: white;
}
.hometype-help-box-wrap {
  display: -webkit-box;
}
.hometype-help-box-commands-key {
  text-align: right;
  color: #dd0;
}
.hometype-command-box input {
  width:100% !important;
  height:100% !important;
  border-width:0 !important;
  outline:none !important;
  margin:0 !important;
  padding:5px !important;
  font-size:16px !important;
  background-color:#aaaaaa !important;
  font-family:'Osaka-Mono' !important;
  outline: none !important;
  box-sizing: border-box !important;
  min-height: 34px;
}
.hometype-command-box-candidate-area {
  background-color:#666666;
  position:absolute;
  z-index:1000000;
  display:none;
  color:#ffffff;
  opacity:0.8;
  padding:3px;
  box-sizing: border-box;
  font-size: 12px !important;
}
.hometype-command-box-candidate-area div {
  background-color:#666666;
  color:#ffffff;
  text-align:left;
  font-size:16px;
  font-family:'Osaka-Mono';
  padding:5px;
  height: 32px;
  width: 100%;
  word-break: break-all;
  word-wrap: break-word;
  overflow: hidden;
  box-sizing: border-box;
  line-height: 22px;
}
.hometype-command-box-candidate-area div.selected {
  background-color:#ffffff;
  color:#444444;
}

.hometype-select-box {
  width:400px;
  height:600px;
  z-index:10000;
  background-color:#fff;
  overflow:auto;
  border-radius:4px;
  border:solid 1px #ccc;
  padding:10px;
}
.hometype-select-box ul, .hometype-select-box li {
  list-style:none;
}
.hometype-select-box li {
  float:left;
  line-height:200%;
  font-size:14px;
  margin:5px;
  padding:0 10px;
  border:solid 1px #999;
  border-radius:4px;
  cursor:pointer;
  background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
}

.hometype-contenteditable {
  border:solid 1px #f00;
  position:absolute;
  z-index:1000000;
  background-color:transparent;
  cursor:text;
}

.hometype-current-mode {
  position:fixed;
  z-index:1000002;
  top:6px;
  right:6px;
  font-family:'Osaka-Mono';
  background: linear-gradient(to bottom, #fefcea 0%,#f1da36 100%);
  box-shadow:0 0 2px 2px rgba(200,200,200,0.2) inset;
  padding:2px 6px;
  border-radius:4px;
  border:solid 1px #cecece;
  font-size:14px;
  color:#222;
}

.hometype-tab-list-box {
  position: absolute;
  width: 900px;
  background-color: #fff;
  text-align: left;
  opacity: 0.9;
  padding: 4px 10px;
  border-radius: 4px;
}
.hometype-tab-element {
  float: left;
  width: 120px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  padding-left: 20px;
  margin-right: 10px;
  font-family:'Osaka-Mono' !important;
}
.hometype-tab-element-hint-key {
  color: #f00;
}
.hometype-tab-element img {
  position: absolute;
  top: 7px;
  left: 0;
}
