.chromekey-hit-a-hint-base {
  position:absolute;
  border:solid 1px #C4C4C4;
  opacity:0.8;
  padding:3px;
  border-radius:3px;
  font-size:12px;
  color:#222222;
  z-index:1000000;
  font-family:'Osaka-Mono';
  display:none;
}
.chromekey-hit-a-hint {
  background-color:#FFFF4D;
}
.chromekey-hit-a-hint-n {
  background-color:#4DFFFF;
}
.chromekey-hit-a-hint-area {
  background-color:#FDFFC3;
}
.chromekey-hit-a-hint-n-area {
  background-color:#CDFFF3;
}
