dt {
  float: left;
  width: 120px;
  position: relative;
}
dd {
  margin-left: 120px;
  text-align:left;
  line-height: 160%;
}
dt, dd {
  margin-bottom: 10px;
}
dl.span1 dt {
  width: 60px;
}
dl.span1 dd {
  margin-left: 60px;
}

.reference-index {
  width: 1020px;
  border-width: 0;
}
.reference-index tr:nth-child(even) {
  background-color: #fff;
}
.reference-index th {
  border-width: 0 0 1px 0;
}
.reference-index td {
  width: 255px;
  border-width: 0 0 1px 0;
}

.reference-content {
}

.reference-content img {
  border: solid 1px #ddd;
  margin: 10px 0 0 30px;
}
.reference-content img.top {
  margin: 0 30px;
}
.illustration {
  float: right;
}

.command-name {
  padding: 40px 0 8px 0;
  text-align: left;
  border-bottom: dashed 1px #ddd;
  margin: 18px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.command-name h3 {
  display: inline;
  margin-right: 10px;
}
.command-note {
  font-size: 12px;
}
code {
  background-color: #eee;
}
.command-description {
  text-align: left;
  margin-bottom: 6px;
}
.command-options {
  text-align: left;
  padding: 6px;
}
.command-options ul {
  list-style: none;
}
.command-options li {
  list-style: none;
}
.command-options-header {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
}
.option-description {
  text-align: left;
  margin: 0 0 6px 120px;
}
.option-name {
  text-align: left;
  width: 120px;
  float: left;
}
