.header {
  background: #62a609;
  height: 310px;
}
.header .header-inner {
  margin: 0 auto;
  padding: 0;
  height: 310px;
  width: 285px;
  text-align: left;
  background: url(../images/logo.png) 0px 15px no-repeat;
}

.reference-index {
  width: 1000px;
  border-width: 0;
  margin-top: 20px;
}
.reference-index tr:nth-child(even) {
  background-color: #fff;
}
.reference-index th {
  border-width: 0 0 1px 0;
}
.reference-index td {
  width: 250px;
  border-width: 0 0 1px 0;
}
