* {
  margin:0;
  padding:0;
}

body {
  font-size: 14px;
  color: #666;
}

h1 {
  font-size: 20px;
}

.section {
  font-size: 18px;
}

.header {
  background-color: #363636;
  color: #fff;
  font-family: Antonio;
  padding: 6px;
}

input, textarea {
  border: solid 1px #aaa;
  padding: 4px;
  border-radius: 3px;
}

dl dt {
  float: left;
  width: 300px;
}
dl dt, dl dd {
  height: 30px;
  line-height: 30px;
}

#key_bind_list {
  width: 365px;
  height: 500px;
}

.clearfix {
  *zoom: 1;

  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}
